.calculator {  /*setting the width and height of the calculator and positions it in the center of the screen.*/
  width: 400px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
}

.calculator-display {  /*to style the display area of the calculator.*/
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  text-align: right;
  font-size: 36px;
  color: #333;
  font-family: sans-serif;
}

.calculator-keys {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.calculator-keys button { /*to style keys.*/
  width: 25%;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
  cursor: pointer;
}

.calculator-keys button:hover { /*to change background greyish when cursor is hovering.*/
  background-color: #f0f0f0;
}

.calculator-keys button.operator {
  background-color: #ffc107;
  color: #fff;
}

.calculator-keys button.clear {
  background-color: #f44336;
  color: #fff;
}

.input-display { /*to display input floating right.*/
    font-size: 36px;
    color: #333;
    font-family: sans-serif;
    float: left;
}

.output-display { /*to displau output floating left.*/
    font-size: 36px;
    color: #333;
    font-family: sans-serif;
    float: right;
}
